src/test/munit/headers/validation/headers-raml10-validation-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <apikit:config name="headers-10-validation-config" raml="munit/headers/validation10.raml"
                 outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

  <flow name="headers-validation-10-main">
    <http:listener config-ref="http-listener-simple" path="/headers/validation/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="headers-10-validation-config"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <flow name="get:\datetime2616:headers-10-validation-config">
    <set-payload value="#[attributes.headers['x-modifiedsince']]" />
  </flow>

  <flow name="post:\datetime2616:headers-10-validation-config">
    <set-payload value="#[attributes.headers['x-maxrows']]" />
  </flow>
</mule>
