src/test/munit/headers/validation/strict-validation-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <apikit:config name="strictly-validation-config" raml="${api.location}"
                 outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"
                 headersStrictValidation="true"/>

  <flow name="strictly-validation-main">
    <http:listener config-ref="http-listener-simple" path="/headers/strictly/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="strictly-validation-config"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <flow name="get:\resource:strictly-validation-config">
    <set-payload value="#[output application/json --- { message: 'is all good' }]"/>
  </flow>

</mule>
