src/test/munit/body/validation/polymorphism/polymorphism-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">

    <apikit:config name="polymorphism-config" api="munit/body/polymorphism/oas30-polymorphism.yaml"
                   outboundHeadersMapName="outboundHeaders"
                   httpStatusVarName="httpStatus" parser="AMF"/>

    <flow name="polymorphism-main">
        <http:listener config-ref="http-listener-simple" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="polymorphism-config"/>
        <error-handler ref="global-server-error-handler"/>
    </flow>

    <flow name="patch:\oneOfPetsByDiscriminator:application\json:polymorphism-config">
        <set-payload value="patch:\oneOfPetsByDiscriminator"/>
    </flow>

    <flow name="patch:\oneOfCatOrDog:application\json:polymorphism-config">
        <set-payload value="patch:\oneOfCatOrDog"/>
    </flow>

    <flow name="patch:\anyOfPetsByProp:application\json:polymorphism-config">
        <set-payload value="patch:\anyOfPetsByProp"/>
    </flow>

</mule>
