src/test/munit/console/console-disabled-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <apikit:config parser="AMF" name="console-disabled-config" raml="munit/console/console-api.raml"
    outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" keepApiBaseUri="${keepBaseUri}"/>

  <flow name="console-disabled-router">
    <http:listener config-ref="http-listener-simple" path="/console-disabled/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
    </http:listener>
    <apikit:console config-ref="console-disabled-config"/>
  </flow>

</mule>
