src/test/munit/union-types/union-types-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd

                          http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">


    <apikit:config name="union-types-config" api="${api.location}"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" parser="${parser.type}"/>

    <flow name="union-types-validation-main">
        <http:listener config-ref="http-listener-simple" path="/union/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="union-types-config"/>
        <error-handler ref="global-server-error-handler"/>
    </flow>

    <flow name="post:\bodyunion:application\json:union-types-config">
        <set-payload value="post:\bodyunion"/>
    </flow>

    <flow name="get:\queryparamunion:union-types-config">
        <set-payload value="get:\queryparamunion"/>
    </flow>

    <flow name="get:\uriparamunion\(dateortimestamp):union-types-config">
        <set-payload value="#[output application/json --- attributes.uriParams.dateortimestamp]"/>
    </flow>

</mule>
