src/test/munit/body/validation/form/file-validation-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">


  <apikit:config name="file-validation-config" api="${api.location}"
                 outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" parser="${parser.type}"/>

  <flow name="file-validation-main">
    <http:listener config-ref="http-listener-simple" path="/file-validation/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="file-validation-config"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <flow name="post:\documents:multipart\form-data:file-validation-config">
    <logger level="INFO" message="post:\documents:multipart\form-data:file-validation-config"/>
  </flow>

  <flow name="post:\small-documents:multipart\form-data:file-validation-config">
    <logger level="INFO" message="post:\documents:multipart\form-data:file-validation-config"/>
  </flow>

  <flow name="post:\anyFileTypeAllowed:multipart\form-data:file-validation-config">
    <logger level="INFO" message="post:\anyFileTypeAllowed:multipart\form-data:file-validation-config"/>
  </flow>

</mule>
