src/test/munit/body/validation/form/form-urlencoded-validation-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">


  <apikit:config name="urlencoded-body-validation-config" api="${api.location}"
                 outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" parser="${parser.type}"/>

  <flow name="urlencoded-10-body-validation-main">
    <http:listener config-ref="http-listener-simple" path="/urlencoded/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="urlencoded-body-validation-config"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <flow name="post:\url-encoded-simple:application\x-www-form-urlencoded:urlencoded-body-validation-config">
    <set-payload value="#[payload]"/>
  </flow>

  <flow name="post:\url-encoded-simple-integer:application\x-www-form-urlencoded:urlencoded-body-validation-config">
    <set-payload value="#[payload]"/>
  </flow>

  <flow name="post:\url-encoded-duplicated-key:application\x-www-form-urlencoded:urlencoded-body-validation-config">
    <set-payload value="#[payload]"/>
  </flow>

  <flow name="post:\url-encoded-with-arrays:application\x-www-form-urlencoded:urlencoded-body-validation-config">
    <set-payload value="#[payload]"/>
  </flow>

  <flow name="post:\url-encoded-with-default:application\x-www-form-urlencoded:urlencoded-body-validation-config">
    <set-payload value="#[payload]"/>
  </flow>

</mule>
