src/test/munit/error/default-error-handling-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd


                          http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">


    <apikit:config name="default-error-handler-config" api="munit/errors/api-errors.raml" outboundHeadersMapName="outboundHeaders"
                   httpStatusVarName="httpStatus" parser="${parser.type}"/>

    <flow name="default-error-handler-main">
        <http:listener config-ref="http-listener-simple" path="/error-handler/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="default-error-handler-config"/>
        <error-handler ref="global-server-error-handler"/>
    </flow>

    <flow name="get:\raiseError:default-error-handler-config">
        <set-payload value="Some Content"/>
        <raise-error type="API:ERROR"/>
    </flow>

    <flow name="post:\unsupportedMediaType:application\json:api-errors-config">
        <set-payload value="Some Content"/>
    </flow>

</mule>
