src/test/munit/streaming/non-repeateble-streaming-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <apikit:config name="non-repeatable-streaming-config" raml="munit/streaming/streaming.raml" outboundHeadersMapName="outboundHeaders"
                 httpStatusVarName="httpStatus" parser="${parser.type}"/>

  <flow name="non-repeatable-streaming-main">
    <http:listener config-ref="http-listener-simple" path="/nr-streaming/*">
      <non-repeatable-stream/>
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="non-repeatable-streaming-config"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <flow name="post:\multipart:multipart\form-data:non-repeatable-streaming-config">
    <set-payload value="#[output application/json --- {(payload.parts pluck {'$$': $.content})}]" />
  </flow>

  <flow name="post:\url-encoded-simple:application\x-www-form-urlencoded:non-repeatable-streaming-config">
    <set-payload value="#[payload]"/>
  </flow>

</mule>
