src/test/munit/xml-doctype/xml-doctype-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">


  <apikit:config name="xml-doctype-config" api="munit/xml-doctype/xml-doctype.raml"
    outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" parser="${parser.type}"/>

  <flow name="xml-doctype-main">
    <http:listener config-ref="http-listener-simple" path="/xml-doctype/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="xml-doctype-config"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <flow name="post:\example-with-doctype:xml-doctype-config">
    <logger level="INFO" message="post:\example-with-doctype:xml-doctype-config"/>
  </flow>
</mule>
