src/test/munit/flow-routing/flow-routing-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <apikit:config name="api-routing-config" raml="munit/flow-routing/api-routing.raml" outboundHeadersMapName="outboundHeaders"
                 httpStatusVarName="httpStatus" parser="${parser.type}">
    <apikit:flow-mappings>
      <apikit:flow-mapping resource="/mapping" action="get" flow-ref="test-flow-mapping"/>

      <!-- TODO: THIS ONES SHOULD BE REMOVED, SHOULD BE WAD -->
      <apikit:flow-mapping resource="/apply-with-charset" action="put" content-type="application/json" flow-ref="put:\apply-with-charset:application\json:api-routing-config" />
      <apikit:flow-mapping resource="/{resourceType}:{id}" action="get" flow-ref="get:\(resourceType):(id):api-routing-config" />
      <apikit:flow-mapping resource="/uri-param/{uriID}/test" action="get" flow-ref="get:\uri-param\(uriID)\test:api-routing-config"/>

    </apikit:flow-mappings>
  </apikit:config>

  <flow name="api-routing-main">
    <http:listener config-ref="http-listener-simple" path="/api/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="api-routing-config"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <flow name="put:\apply-with-charset:application\json:api-routing-config">
    <logger level="INFO" message="put:\apply-with-charset:application\json:api-routing-config"/>
  </flow>

  <flow name="get:\(resourceType):(id):api-routing-config">
    <set-payload value="#[output application/json --- {&quot;name&quot;: &quot;testType&quot;}]"/>
  </flow>

  <flow name="get:\uri-param\(uriID)\test:api-routing-config">
    <set-payload value="#[output application/json --- { test:attributes.uriParams.uriID }]"/>
  </flow>

  <flow name="test-flow-mapping">
    <set-payload value="#[output application/json --- { message: 'mapped' }]"/>
  </flow>

</mule>
