src/test/munit/flow-routing/flow-routing-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <munit:dynamic-port propertyName="free.port.simple.http" min="1024" max="64000"/>

  <http:listener-config name="http-listener-simple">
    <http:listener-connection host="0.0.0.0" port="${free.port.simple.http}"/>
  </http:listener-config>

  <apikit:config name="api-routing-config" raml="munit/flow-routing/api-routing.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus">
    <apikit:flow-mappings>
      <apikit:flow-mapping resource="/getOrder" action="get" flow-ref="getOrders"/>
    </apikit:flow-mappings>
  </apikit:config>

  <flow name="api-routing-main">
    <http:listener config-ref="http-listener-simple" path="/api/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="api-routing-config"/>
  </flow>

  <flow name="getOrders">
    <set-payload value='#[output application/json --- {&quot;message&quot;: &quot;routing with flow mapping&quot;}]'/>
  </flow>

</mule>
