src/test/munit/flow-routing/oas-flow-routing-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <apikit:config name="oas-routing-config" raml="munit/flow-routing/oas-routing.json" outboundHeadersMapName="outboundHeaders"
                 httpStatusVarName="httpStatus" parser="AMF"/>

  <flow name="oas-routing-main">
    <http:listener config-ref="http-listener-simple" path="/oas/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="oas-routing-config"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <flow name="get:\pets:oas-routing-config">
    <set-payload value="#[output application/json --- ['DOG', 'CAT']]"/>
  </flow>

  <flow name="get:\pets\(petId):oas-routing-config">
    <set-payload value="#[output application/json --- attributes.uriParams.petId ++ ':CAT']"/>
  </flow>

</mule>
