src/test/munit/console-redirect/console-redirect.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
  xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
  	http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <apikit:config name="console-redirect" raml="munit/console/console-api.raml"
    outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

  <munit:config name="console-redirect-test-suite">
    <munit:parameterizations>
      <munit:parameterization name="ONPREM">
        <munit:parameters>
          <munit:parameter propertyName="fullDomain" value=""/>
          <munit:parameter propertyName="assertHost" value="localhost"/>
        </munit:parameters>
      </munit:parameterization>
      <munit:parameterization name="CH">
        <munit:parameters>
          <munit:parameter propertyName="fullDomain" value="ch-https-41-demo.au-s1.cloudhub.io"/>
          <munit:parameter propertyName="assertHost" value="ch-https-41-demo.au-s1.cloudhub.io"/>
        </munit:parameters>
      </munit:parameterization>
    </munit:parameterizations>
  </munit:config>

  <munit:after-test name="full-domain-empty">
    <ee:transform>
      <ee:message>
        <ee:set-payload>
          <![CDATA[
          %dw 2.0
          import java!mtf::Utils
          output text/plain
           ---
          Utils::setSystemProperty("fullDomain", "")
        ]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
  </munit:after-test>

  <flow name="console-redirect-router">
    <http:listener config-ref="http-listener-simple" path="/redirect/console/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console config-ref="console-redirect"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <munit:test name="console-redirect-test">
    <munit:enable-flow-sources>
      <munit:enable-flow-source value="console-redirect-router"/>
    </munit:enable-flow-sources>
    <munit:execution>
      <http:request method="GET" config-ref="http-requester-simple" path="/redirect/console" followRedirects="false"/>
    </munit:execution>

    <munit:validation>
      <logger message="${fullDomain}"/>
      <logger message="#[attributes]"/>
      <logger message="#[payload]"/>
      <munit-tools:assert-that expression="#[attributes.statusCode]" is="#[MunitTools::equalTo(301)]"/>
      <munit-tools:assert-that expression="#[attributes.headers.'location']" is="#[MunitTools::containsString('${assertHost}')]"/>
    </munit:validation>
  </munit:test>
  
</mule>