src/test/munit/parameters/query-parameters/strict-validation-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
						  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
						  http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

  <apikit:config name="query-params-strict-validation-config" raml="munit/parameters/query-parameters.raml"
    outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" parser="${parser.type}" queryParamsStrictValidation="true"/>

  <flow name="query-params-strict-validation-main">
    <http:listener config-ref="http-listener-simple" path="/query-params-strict/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="query-params-strict-validation-config"/>
    <error-handler ref="global-server-error-handler"/>
  </flow>

  <flow name="get:\constrains:query-params-strict-validation-config">
    <set-payload value="#[output application/json --- attributes.queryParams]"/>
  </flow>

</mule>